@import "defaults";

.login-box {
  @include center-items-by-flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
  button {
    background-color: $color-primary-dark;
    color: $color-light !important;
  }
}

.login-box:target {
  visibility: visible;
  opacity: 1;
}

.login-content {
  position: relative;
  padding: 2em;
  width: 500px;
  max-width: 90%;
  border-radius: 4px;
  background: $color-light;
}

.login-close {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
}

.login-close, .login-close:hover {
  color: $color-dark;
}

.login-others {
  display: flex;
  white-space: nowrap;
}

.login-register {
  width: 100%;
  color: $color-medium;
  text-align: right;
}

.login-register:hover {
  color: $color-primary-dark;
}