@import "3rd-party/hover/hover.css";
@import "common/defaults";
@import "common/header";
@import "common/faq";
@import "common/login";

main {
  @include center-items-by-grid;
  padding: 50px 50px 100px;
  width: 100%;
  height: fit-content;
  min-height: calc(100% - #{$header-height} - 150px);

  .container {
    h2 {
      text-align: center;
      margin-bottom: 16px;
    }
  }
}